  body {
            font-family: 'Inter', sans-serif;
            background-color: #f1f5f9;
        }
        :root {
            --brand-orange: #F56505;
            --dark-blue-primary: #1E293B;
            --dark-blue-secondary: #0F172A;
        }
        .bg-brand-orange { background-color: var(--brand-orange); }
        .text-brand-orange { color: var(--brand-orange); }
        .border-brand-orange { border-color: var(--brand-orange); }
        .bg-dark-blue-primary { background-color: var(--dark-blue-primary); }
        .bg-dark-blue-secondary { background-color: var(--dark-blue-secondary); }
        .hover-bg-brand-orange:hover { background-color: #e05a04; }
        
        .navbar-dark .nav-link.active {
            color: var(--brand-orange) !important;
            border-bottom: 2px solid var(--brand-orange);
        }
        .navbar-dark .nav-link {
            color: white;
        }
        .navbar-dark .nav-link:hover {
            color: var(--brand-orange);
        }